
body{min-width: auto}

.main-title{
    width: 400px;
    height: 80px;
    min-height: 21px;
    _height: 21px;
    font-weight: 700;
    color: #3C3C3C;
    padding-top: 20px;
    padding-bottom: 20px;
}

