<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyl.dao.AdminDao">
    <select id="selectAuserByAname" resultType="com.qyl.instance.Auser" parameterType="java.lang.String">
        select * from tb_auser where aname = #{aname}
    </select>
    <update id="updateInfo">
        update tb_auser set apwd = #{apwd}
        where aname = #{aname}
    </update>
</mapper>
