<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyl.dao.AdminNoticeDao">
    <!--
        Integer updateNoticeById(Notice notice);

        Integer addNotice(Notice notice);
        ArrayList<Notice> selectNotice();

        Notice selectNoticeById(Integer id);
    -->
    <insert id="addNotice" useGeneratedKeys="true" keyProperty="id">
        insert into tb_notice(ntitle,ncontent,ntime,npicture)
        values(#{ntitle},#{ncontent},now(),#{npicture})
    </insert>
    <select id="selectNotices" resultType="com.qyl.instance.Notice">
        select * from tb_notice
    </select>
    <!--
        void deleteNotice(ArrayList<Integer> list);

        void deleteANotice(Integer id);
    -->
    <delete id="deleteNotice">
        delete from tb_notice where id in
        <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteANotice">
        delete from tb_notice where id = #{id}
    </delete>
</mapper>
