<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyl.dao.OrderDao">
<!--    void addOrder(OrderBase order);

    void addOrderDetail(Map<String, Object> map);

    ArrayList<Map<String, Object>> selectGoodsShop(Integer userID);

    void updateStore(Map<String, Object> map2);

    void clear(Integer userID);

    void pay(Integer orderSn);
-->
    <!--
    private Integer busertable_id;
    private Double amount;
    private Integer status;
    private Timestamp orderdate;
    -->
    <!--    添加一个订单，成功后将主键回填 -->
    <insert id="addOrder" parameterType="com.qyl.instance.OrderBase" keyProperty="id" useGeneratedKeys="true">
        insert into tb_orderbase(busertable_id,amount,status,orderdate)
        values (#{busertable_id},#{amount},0,now())
    </insert>
<!--    查询商品购买量，方便更新库存使用   -->
    <select id="selectGoodsShop" parameterType="Integer" resultType="map">
        select shoppinggnum gshoppinggnum,goodstable_id gid from tb_cart where busertable_id = #{uid}
    </select>

<!--    生成订单详情  -->
    <insert id="addOrderDetail" parameterType="map">
        insert into tb_orderdetail(orderbasetable_id,goodstable_id,shoppingnum)
        select #{orderSn} ,goodstable_id,shoppinggnum from tb_cart
        where busertable_id = #{uid}
    </insert>
<!--    更新商品    -->
    <update id="updateStore" parameterType="map">
        update tb_goods set gstore = gstore - #{gshoppinggnum} where id = #{gid}
    </update>
<!--    清空购物车   -->
    <delete id="clear" parameterType="Integer">
        delete from tb_cart where busertable_id = #{uid}
    </delete>
<!--    支付订单    -->
    <update id="pay" parameterType="Integer">
        update tb_orderbase set status = 1 where busertable_id = #{orderSn}
    </update>
</mapper>
